/*root elementuud*/
:root {
    --main-fonts:  "SF Pro Display", sans-serif;;
    --secondary-fonts: "Inter", sans-serif; /*solih*/
    /* --mainBG: #ffffff; */
    --mainBG: #eff3f4;
    --mainBGdark: #c3c5c6;
    --mainBGMirror: #eff3f463;
    --darkerBG: #dee5e6;
    --fontSize: 2rem;
    --fontC: #e5e5e5;
    --fontCdark: #021423;
    --fontCdarkBlur: #2d2d2d9a;
    --inputColor: #f8f8f8;
    --brightBG: #e2e2e2;
    --fontCdark: #021423;
    --fontCdarkBlur: #2d2d2d9a;
    --shadowClr: #8b8b8b;
    --btnClr: #013220;
    --btnClr2: #054202;
    --btnClrBlr: #054202a7;
    --accentClr: #f76521;
    --accentClrLight: #ff7900;
    --warningColor: #a3960f;
    --alertColor: #a20505;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--fontCdark);
}
body {
    width: 100%;
    height: auto;
    font-family: var(--main-fonts);
    font-weight: 200;
    background: var(--mainBG);
}

/*------Main buyu undsen heseg------*/
.main {
    width: 100%;
    height: auto;
}

/*---mini navigation---*/
#thinnav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--accentClr);
    color: var(--fontCdark);
    position: sticky;
    font-weight: 400;
    top: 0;
    z-index: 14;
}
.Welcome {
    width: 30vw;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-family: var(--main-fonts);
    color: var(--fontC);
    padding-left: 30px;
}
.rightsd {
    width: 40vw;
    height: 30px;
    display: flex;
    overflow-y: visible;
}
.FAQhelp {
    width: 40rem;
    height: 30px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.FAQhelp a {
    color: var(--fontC);
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.FAQhelp button:hover {
    cursor: pointer;
}
.FAQhelp button {
    font-family: var(--main-fonts);
    color: var(--fontC);
    font-size: 1rem;
    font-weight: 400;
    background: none;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.FAQhelp h2 {
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--main-fonts);
    color: var(--fontC);
}
.miniicon {
    width: 15rem;
    display: flex;
    flex-direction: row;
}
.miniicon a {
    width: 20px;
    height: 20px;
}
.miniicon a img {
    width: 20px;
    height: 20px;
}
.shpngcrt {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.miniSocial {
    width: 65%;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
}
.anglihel {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---mini navigation END---*/

.complaint-popup-wrapper button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d9534f;
    color: white;
}
/* Pop-up Wrapper */
.complaint-popup-wrapper {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 200;
    backdrop-filter: blur(10px);
}

/* Pop-up Container */
.complaint-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

/* Form Elements */
.complaint-popup input[type="text"],
.complaint-popup input[type="email"],
.complaint-popup select,
.complaint-popup textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.complaint-popup textarea {
    resize: vertical;
    height: 100px;
}

.submit-btn {
    background-color: #d9534f;
}

.open-popup-btn {
    background-color: #007bff;
}

/*---Gol menu button-d---*/
.navi:hover {
    background: var(--darkerBG);
    transition: 0.3s ease-in-out;
}
.navi {
    width: 100%;
    height: auto;
    position: fixed;
    top: 30px;
    background: var(--darkerBG);
    backdrop-filter: blur(15px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    transition: 0.4s ease;
    transition: top 0.3s;
    z-index: 13;
}
.navi.hidden {
    top: -100px;
}
.lftMenu div:hover {
    cursor: pointer;
}
.rghtMenu div:hover {
    cursor: pointer;
    background: var(--mainBG);
}
.SepLine{
    height: 35%;
    border: 1px solid var(--fontCdark);
}
.lftMenu a {
    text-decoration: none;
}
.lftMenu {
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.rghtMenu a:hover{
    /* background: var(--mainBG); */
    text-decoration: underline;
}
.rghtMenu a {
    text-decoration: none;
    padding: 0.3rem 0.3rem;
    border-radius: 0.3rem;
}
.rghtMenu {
    width: 35vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    gap: 0.5rem;
}
.navi img:hover {
    cursor: pointer;
}
.navi img {
    background-size: contain;
    width: 12rem;
    height: 5rem;
    z-index: 20;
}
.rghtMenu img{
    width: 2rem;
    height: 2rem;
}
.Luser:hover{
    cursor: pointer;
}
.Luser{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin-left: 0.8rem;
    border: none;
    border-radius: 0.3rem;
    color: var(--accentClr);
    background: none;
}
.mnubtn {
    display: none;
    z-index: 15;
}
.mblMenu {
    display: none;
    z-index: 12;
}
/*---gol menu button END---*/

/*daraah heseg n main content-n code*/
#landingP {
    width: 100%;
    height: auto;
    padding-top: 4.5rem;
    background: var(--mainBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-------------------------nuur huudasnii gol medeelel--------------------*/
.SanalBolgoh {
    width: 80%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.medeelliinheseg {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.3rem;
    z-index: 10;
}
.medeelliinheseg h1 {
    font-size: 3rem;
}
.medeelliinheseg h3 {
    font-size: 1.1rem;
    font-weight: 500;
}
.shuudhudaldah {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.fnctbtn:hover {
    cursor: pointer;
}
.fnctbtn {
    width: 10rem;
    height: 3rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    transition: 0.15s ease;
}
.buy:hover {
    background: var(--accentClr);
    box-shadow: 0 0 0 #3e3d3d99;
}
.buy {
    background: var(--accentClr);
    color: var(--fontC);
    box-shadow: 0 0 4px #3e3d3d99;
}
.cart:hover {
    color: var(--fontCdark);
    box-shadow: 0 0 0 #3e3d3d99;
}
.cart {
    box-shadow: 0 0 4px #3e3d3d99;
    border: 1px solid #3e3d3d99;
}
.zurag1 {
    width: 100%;
    position: absolute;
    transform: translateX(-10%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.zurag1 img {
    width: 100%;
    height: 25rem;
    background-size: contain;
}
/*---------------------gol medeelliin heseg duusaw-----------------------*/

/*--------------------------busad buteegdehuunuud------------------------*/
.BusadProd {
    width: 85%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container {
    width: 100%;
    box-shadow: 8px 8px 8px #1210175e;
}
.slide-content {
    padding: 3rem 1.2rem;
    margin: 0 40px;
    overflow: hidden;
}
.image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-content {
    row-gap: 0.4rem;
}
.image-content a{
    width: 80%;
    display: flex;
    text-decoration: none;
    justify-content: end;
    padding-bottom: 2rem;
}
.swiper-slide{
    background: var(--mainBGMirror);
    box-shadow: 5px 5px 5px #524d5d5e;
}
.swiper-slide:hover{
    box-shadow: 3px 3px 3px #524d5d5e;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.card {
    width: 20rem;
    border-radius: 1.5rem;
    background: var(--darkerBG);
}
.card-content{
    width: 80%;
}
.card-image {
    position: relative;
    height: 16rem;
    width: 20rem;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.name {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--fontCdark);
}
.descrptn {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--fontCdark);
    text-align: left;
}
.VMore:hover {
    background-color: var(--accentClrLight);
    color: var(--fontC);
    border: 1px solid var(--accentClr);
}
.VMore {
    border: none;
    font-size: 1.3rem;
    color: var(--fontC);
    background-color: var(--accentClr);
    border-radius: 0.5rem;
    border: 1px solid var(--accentClr);
    padding: 8px 16px;
    margin: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}
.swiper-navBtn:hover {
    color: var(--fontCdark) !important;
}
.swiper-navBtn {
    width: 2rem;
    height: 2rem;
    color: #5f5f5f !important; 

    transition: 0.3s ease;
}
.swiper-pagination-bullet {
    background-color: #5f5f5f !important;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #565656 !important;
}
/*--------------------busad buteegdehuunuud ene hurtel--------------------*/

/*-----------------------------Company Heseg START------------------------*/
#mnContnr {
    width: 80%;
    display: flex;
    font-family: var(--main-fonts);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 8rem;
    row-gap: 1.5rem;
}

.firstInfo,
.secondInfo {
    display: flex;
    flex-direction: row;
}
.firstInfo {
    width: 100%;
    justify-content: space-around;
}
.secondInfo {
    width: 100%;
    justify-content: center;
}
.frstPic,
.scndPic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frstPic img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
/* .scndPic img{
    width: 75%;
    background-repeat: no-repeat;
    background-size: contain;
} */
.frstIfno h3,
.scndIfno h3 {
    display: flex;
    font-size: clamp(1.4rem, 2.4vw, 2.4rem);
}
.frstIfno,
.scndIfno {
    display: flex;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    font-weight: 350;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.frstIfno {
    width: 40%;
    text-align: justify;
}
.scndIfno {
    width: 95%;
    text-align: justify;
}

#Milestone {
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.section {
    width: 15rem;
    height: 6.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--fontCdark);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}
.Numbers {
    font-size: 1.8rem;
    font-weight: 450;
    color: var(--fontCdark);
}
.descrptnOfNumber {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--fontCdark);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.Hamtragchcont{
    display: flex;
}
.Hamtragchid:hover .Hamtragchid-slide {
    animation-play-state: paused;
    transition: 0.5s ease;
}
.Hamtragchid {
    width: 90vw;
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    position: relative;
}

.Hamtragchid:before,
.Hamtragchid:after {
    position: absolute;
    top: 0;
    width: 15rem;
    height: 100%;
    content: "";
    z-index: 2;
}
.Hamtragchid:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--mainBG));
}
.Hamtragchid:after {
    right: 0;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        var(--mainBG)
    );
}
.Hamtragchid-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
.Hamtragchid-slide img {
    height: 6rem;
    margin: 0 2rem;
}

.email-popup-wrapper button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    background-color: #28a745;
    color: white;
}
.email-popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.email-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}
.email-popup input[type="email"],
.email-popup input[type="text"],
.email-popup textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.email-popup textarea {
    resize: vertical;
    height: 100px;
}
.send-btn {
    background-color: #007bff;
}
.no-scroll {
    overflow: hidden;
}
#sendEmailBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 #3e3d3d99;
}
#sendEmailBtn {
    width: 25rem;
    height: 2.8rem;
    margin: 2rem 0 3rem 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    color: var(--fontC);
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 0.5rem;
    background: var(--accentClr);
    /*border: 0.5px solid var(--shadowClr);*/
    box-shadow: 0 0 2px #26262699;
    border: none;
}
#sendEmailBtn img {
    width: 1.5rem;
    height: 1.5rem;
}
/*-----------------------------Company Heseg END--------------------------*/

/*-----------------------------BuyPage Heseg START------------------------*/
#mainContnr {
    width: 100%;
    padding: 6rem 0;
    display: flex;
    position: relative;
}
.prodPicSide {
    width: 50%;
    height: 45rem;
    display: flex;
    padding-top: 6rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 6rem;
}
.bigImage {
    width: 80%;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
}
.bigImage img {
    width: 80%;
}
.miniImage {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.miniImage img:hover {
    cursor: pointer;
}
.miniImage img {
    width: 15%;
    border: 1px solid var(--shadowClr);
    border-radius: 0.15rem;
    opacity: 0.7;
}
.advantageImage {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--fontCdark);
    font-size: 0.9rem;
}
.advantageImage img {
    width: 8rem;
}
.advntg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.specSide {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    top: 5rem;
}
.heaterinfoDiv {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
}
.heaterName,
.heaterDesc,
.zagwaruudlabel {
    display: flex;
    width: 100%;
}
.heaterName {
    font-size: 2.8rem;
    color: var(--fontCdark);
    font-weight: 350;
}
.heaterDesc {
    font-size: 1.5rem;
    width: 100%;
}
.zagwaruudlabel {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 350;
}
.HeaterSelection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.selections h2 {
    font-size: 1.3rem;
    font-weight: 550;
}
.selections p {
    font-size: 1.5rem;
    font-weight: 350;
}
.selections:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #3e3d3d99;
}
.selections {
    max-width: 40%;
    min-width: 30%;
    border: 1px solid var(--shadowClr);
    border-radius: 0.2rem;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooshirheg {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}
.quantity-selector {
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--fontCdark);
    border-radius: 0.2rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.quantity-selector label {
    margin-right: 0.2rem;
    font-size: 1rem;
    font-weight: 350;
    color: var(--fontCdark);
}
.quantity-selector select {
    padding: 0.6rem;
    font-size: 1rem;
    background-color: var(--mainBGMirror);
    border: none;
    border-radius: 0.2rem;
    cursor: pointer; /* Removes the default arrow */
}
.quantity-selector select {
    width: 4rem;
    padding-right: 15px; /* Space for the arrow */
}

.quantity-selector::after {
    font-size: 12px;
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: var(--fontCdark);
}

.uldegdel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--alertColor);
    font-size: 0.8rem;
}
.bntsForOrder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cartBtn:hover,
.orderBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #3e3d3d99;
}
.cartBtn,
.orderBtn {
    width: 40%;
    padding: 1rem 0.5rem;
    border: 1px solid var(--shadowClr);
    border-radius: 0.2rem;
    background: var(--mainBG);
    font-size: 1.5rem;
    margin-top: 1rem;
}

.zahialagchiinBulan,
.tulburiinMedeelel {
    width: 90%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px dashed var(--brightBG);
    background: var(--mainBG);
    border-radius: 0.3rem;
    padding: 1rem;
}
.zahialagchiinBulan h2,
.tulburiinMedeelel h2,
.zahialagchiinBulan1 h2,
.tulburiinMedeelel1 h2 {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.zahialagchiinBulan label,
.zahialagchiinBulan1 label {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--fontCdark);
}
.zahialagchiinBulan input::placeholder,
.zahialagchiinBulan1 input::placeholder {
    color: var(--fontCdarkBlur);
    font-size: 1rem;
}
.zahialagchiinBulan input,
.zahialagchiinBulan1 input {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 0rem;
    border: none;
    background: var(--inputColor);
}
.zahialagchiinBulan button:hover,
.zahialagchiinBulan1 button:hover {
    cursor: pointer;
    background: var(--brightBG);
    border: 1px solid var(--darkerBG);
}
.zahialagchiinBulan button,
.zahialagchiinBulan1 button {
    width: 16rem;
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    color: var(--fontCdark);
    background: var(--darkerBG);
    border: 1px solid var(--darkerBG);
    transition: 0.3s ease;
}
#ZahialagchDID {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--brightBG);
    padding: 1rem 0.5rem;
    border-radius: 0.2rem;
}
.tulburiinMedeelel {
    display: none;
    justify-content: center;
    align-items: center;
}
.PaymentDetails {
    width: 70%;
    background: var(--darkerBG);
    border: 1px solid var(--darkerBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fontCdark);
    padding: 1.5rem;
    gap: 1rem;
    font-weight: 500;
    border-radius: 0.3rem;
}
.sepLine {
    width: 100%;
    border: 0.8px solid var(--fontCdarkBlur);
    border-radius: 50%;
}
.zahDugaar,
.zahDetails,
.totalS {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnOrder {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.continueBtn:hover,
.cancelBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 3px #26262699;
}
.continueBtn,
.cancelBtn {
    width: 15rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.2rem;
}
.continueBtn {
    background: var(--btnClr2);
    color: var(--fontC);
}
.cancelBtn {
    background: var(--shadowClr);
    color: var(--fontC);
}
.paymentDisp{
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 200;
    backdrop-filter: blur(10px);
}
.detCont{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;

}
/*-----------------------------BuyPage Heseg END-------------------------*/

/*-----------------------------Ecological Heseg START---------------------*/
.container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 5rem !important;
    background-color: var(--mainBG);
    padding: 20px;
    border-radius: 8px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2rem;
    color: var(--fontCdark);
    /* border-bottom: 1px dashed var(--fontCdark); */
    display: inline-block;
    padding: 3rem 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plant-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

/* .info-box p:hover{
    color: var(--fontC);
}
.info-box h2:hover{
    color: var(--fontC);
} */
.info-box {
    padding: 20px;
    border-left: 10px solid #4b6e28;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 1.3rem;
    font-weight: 400;
}

.info-box.leaf:hover{
    background: #a21942;
    color: var(--fontC);
}
.info-box.leaf {
    border: 1px dashed #a21942;
    border-color: #a21942;
    border-left: 10px solid #a21942;
}

.info-box.shoot:hover{
    background: #fd6a26;
    color: var(--fontC);
}
.info-box.shoot {
    border: 1px dashed #fd6a26;
    border-color: #fd6a26;
    border-left: 10px solid #fd6a26;
}

.info-box.stem:hover{
    background: #3f7e44;
    color: var(--fontC);
}
.info-box.stem {
    border: 1px dashed #3f7e44;
    border-color: #3f7e44;
    border-left: 10px solid #3f7e44;
}

.plant-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plant-image img {
    width: 100%;
    border-radius: 5px;
}





.stats {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bonZcontainer{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/pics2use/EcoTree1.png");
}
.stat4SDG{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    gap: 1.5rem;
}
.stat4SDG span{
    width: 85%;
    border: 1px dashed var(--fontCdarkBlur);
}
.bonzInfo{
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}
.bonzImg{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.bonzInfo img{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BsepLine{
    height: 5rem;
    border: 1px dashed var(--fontCdarkBlur);
}
.bonzText{
    width: 75%;
    font-size: 1.5rem;
    font-weight: 400;
}





.carbon-storage {
    margin-bottom: 20px;
}

.carbon-storage p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.percentage {
    font-size: 2rem;
    font-weight: bold;
    color: #4b6e28;
}

.biomass {
    margin-bottom: 20px;
}

.biomass h3 {
    margin-bottom: 10px;
    font-weight: bold;
}

.biomass-2016, .biomass-2018 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.biomass-2016 p, .biomass-2018 p {
    margin-right: 10px;
}

.bar {
    height: 10px;
    background-color: #76a976;
    border-radius: 5px;
}

.species-info p {
    font-size: 1.1rem;
    line-height: 1.5;
}
/*-----------------------------Ecological Heseg END-----------------------*/

/*-----------------------------Calculate Heseg START----------------------*/
#heater-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.cardh {
    background: var(--darkerBG);
    color: var(--fontCdark);
    border-radius: 0.3rem;
    padding: 1rem;
}
.swiper-slidee {
    gap: 1rem;
}
.card-contentt {
    gap: 0.6rem;
}
.namee {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--fontCdark);
    justify-content: center;
    align-items: center;
}
.descrptnn {
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--fontCdark);
    justify-content: center;
    align-items: center;
}
.room-bill {
    display: flex;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    color: var(--btnClrBlr);
    justify-content: center;
    align-items: center;
}
#total-bill-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--btnClrBlr);
}
.calcCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}
.calcHead{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: var(--fontCdark);
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px dashed var(--fontCdark)
}
.calcHead p{
    font-size: 1.5rem;
    font-weight: 300;
    width: 70%;
}
.total-bill {
    font-weight: 400;
    color: var(--btnClrBlr);
}
.HouseInfo {
    width: 80%;
    margin-top: 1.5rem;
    border-bottom: 1px dashed var(--fontCdark);
}
.HouseInfo,
.ques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: none;
    gap: 1rem;
    padding: 1rem;
}
.ques {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 25rem;
    text-align: center;
    border-radius: 0.3rem !important;
    border: 1px solid var(--darkerBG);
    background-color: var(--darkerBG);
    font-size: 1.5rem;
    font-weight: 450;
}
.ques input {
    width: 80%;
    padding: 0.2rem;
    font-size: 1.3rem;
    text-align: center;
}
.HouseInfo button:hover {
    box-shadow: 0 0 3px #26262699;
    cursor: pointer;
}
.HouseInfo button {
    width: 25rem;
    padding: 0.8rem 4rem;
    font-size: 1.4rem;
    background: var(--accentClr);
    border: none;
    border-radius: 0.2rem;
    color: var(--fontC);
}
/*-----------------------------Calculate Heseg END------------------------*/

/*-----------------------------Advice Heseg START-------------------------*/
#AdvPage {
    display: flex;
    padding-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-content: center;
    align-items: center;
    /*background-color: #e5e5e5;*/
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite forwards;
    color: #fdfcfd;
    font-family: var(--main-fonts);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar:hover {
    width: 13px;
}
::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 0.15rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #373636;
    width: 15px;
}
.cardd:hover {
    box-shadow: 4px 6px 8px #1210175e;
    transform: translateY(3px);
    transition: 0.3s ease;
    opacity: 1;
}
.cardd {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1050px;
    min-width: 480px;
    min-height: 400px;
    padding: 80px 30px 60px 20px;
    margin: 30px 20px;
    background: var(--darkerBG);
    border-radius: 0.3rem;
    box-shadow: 8px 8px 8px #1210175e;
    opacity: 0.95;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.cardd img {
    max-width: 280px;
    width: 35vw;
    height: 380px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 0 60px 40px rgb(0 0 0/8%);
}
.cardd h2 {
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    font-family: var(--mainfont-fonts);
}
.cardd h3 {
    font-family: var(--mainfont-fonts);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 10px 0;
    opacity: 0.75;
}
.cardd p {
    display: flex;
    font-family: var(--mainfont-fonts);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 50px;
    opacity: 0.7;
}
.cardd button:hover {
    background: #0e602c;
    /*box-shadow: inset 500px 0 0 0 #0e602c;*/
    transition: ease 0.4s;
    animation: fade-in linear;
    color: var(--fontC);
    cursor: pointer;
}
.cardd button {
    display: grid;
    place-items: center;
    border: 0;
    overflow: hidden;
    background: var(--btnClr);
    color: #e9e3d5;
    padding: 16px 26px;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

/*-----------------------------Advice Heseg END---------------------------*/
/*main content ene hurtel*/

/*-----------------------------Shopping cart Heseg START---------------------------*/
#cartMainCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
.selectedHtrs {
    width: 60%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    margin: 1rem 0;
    overflow: scroll;
}
.selectionByOrder {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: var(--darkerBG);
    border-radius: 0.3rem;
}
.price-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-fonts);
}
.price {
    font-size: 1.5rem;
    font-weight: 400;
}
.quantity-selector1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f9f3eb;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 1rem;
}
.qty-btn {
    background-color: #f09c00;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
}
.quantity {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}
.selectionByOrder img {
    width: 15rem;
    background-size: contain;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #555;
}

.PaymentDetailsDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.zahialagchiinBulan1,
.tulburiinMedeelel1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px dashed var(--darkerBG);
    border-radius: 0.3rem;
    padding: 1rem;
}
/*-----------------------------Shopping cart Heseg END---------------------------*/

/*-----------------------------FAQ Heseg START---------------------------*/
.faq-container {
    max-width: 80%;
    background-color: var(--darkerBG);
    margin: 7rem auto 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.faq-container h1 {
    text-align: center;
    margin-bottom: 1.8rem;
    font-size: 2rem;
    color: var(--fontCdark);
}
.faq-item {
    border-bottom: 1px solid var(--fontC);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.faq-question {
    width: 100%;
    background-color: var(--inputColor);
    border: none;
    outline: none;
    font-family: var(--main-fonts);
    padding: 15px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 450;
    color: var(--fontCdark);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}
.faq-question::after {
    content: "\25BC"; /* Unicode for downward arrow */
    font-size: 1rem;
    position: absolute;
    right: 20px;
    top: 50%;
    color: var(--fontCdark);
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}
.faq-question.active::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate arrow */
}
.faq-question:hover {
    background-color: var(--brightBG);
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 15px;
}
.faq-answer p {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 350;
    color: var(--fontCdark);
}
/*-----------------------------FAQ Heseg END---------------------------*/

/*----------------login popup try START----------------*/
.socials-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}
.socials-row > a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--fontCdarkBlur);
    border: 1px solid var(--fontC);
    font-weight: 700;
}
.socials-row > a:hover {
    border: 1px solid var(--btnClrBlr);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--fontCdark);
    gap: 1rem;
    align-items: center;
}
.divider-line {
    width: 100%;
    height: 1px;
    background: var(--fontCdark);
    opacity: 0.2;
}
.login-wrapper {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 200;
    backdrop-filter: blur(10px);
    font-family: var(--main-fonts);
}
.closeLog-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.login-side {
    display: flex;
    justify-content: center;
    align-items: start;
}
.info-side {
    height: 100vh;
    padding: 5.25rem 3rem 3rem 2rem;
    color: #401b3d;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--brightBG);
}
.info-side h2 {
    margin-top: 3rem;
    color: var(--fontCdarkBlur);
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}
.info-side p {
    font-size: 1.2rem;
}
.info-side img {
    max-width: 53.75rem;
}
.welcome-message {
    max-width: 22.5rem;
}
.logo {
    height: 6rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}
.my-form_wrapper {
    display: flex;
    position: relative;
    background: var(--mainBGMirror);
    border-radius: 0.8rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 28.75rem;
    width: 100%;
    padding: 3rem 2rem;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0rem 6px 26px 0rem;
}
.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
}
.login-welcome {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.login-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}
.my-form_button {
    background: var(--btnClrBlr);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.025rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.my-form_actions {
    display: flex;
    flex-direction: column;
    color: var(--fontCdark);
    gap: 1rem;
    margin-top: 0.5rem;
}
.my-form_actions a {
    color: var(--fontCdark);
    font-weight: 600;
    text-decoration: none;
}
.my-form_actions a:hover {
    text-decoration: underline;
}
.my-form_row {
    display: flex;
    justify-content: space-between;
}
.my-form_signup {
    display: flex;
    justify-content: center;
}
.my-form_signup a {
    color: var(--btnClrBlr);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.125rem;
}
.my-form_signup a:hover {
    text-decoration: underline;
}
.text-field input {
    color: var(--btnClrBlr);
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--btnClrBlr);
    height: 3.125rem;
    letter-spacing: 0.03rem;
    background-color: transparent;
    outline: none;
    transition: 0.25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
    margin-top: 0.5rem;
}
.text-field {
    position: relative;
}
.text-field img {
    position: absolute;
    right: -0.125rem;
    bottom: -0.25rem;
    width: 1.875rem;
    height: 1.875rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
}
.text-field input:focus {
    border: 0.0625rem solid var(--btnClrBlr);
}
.text-field label {
    color: var(--fontCdark);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    z-index: 10;
}

/*----------------login popup try END-----------------*/

/*footer section footer n @media heseg deer edit hiigdehgui */


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
.ftitle{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.FooterCont{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 2rem;
}
.fLinks, .fcontact, .fsocial{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:start;
    gap: 0.9rem;
}
.fLinks{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 2rem;
    font-size: 1.3rem;
}
.fLinks a:hover{
    text-decoration: underline;
}
.fLinks a{
    text-decoration: none ;
    font-weight: 350;
}
.fcontact{
    padding: 1rem 5% 1rem 10%;
    font-size: 1.3rem;
    font-weight: 350;
}
.fsocial{
    padding: 1rem;
        width: 17rem;
}
/* .fsocial a:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
} */
.fsocial a:hover{
    text-decoration: underline;
}
.fsocial a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 350;
}
.Emailicon, .Instagramicon, .Facebookicon {
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-right: 11px;
    opacity: 90%;
}
.Instagramicon {
    opacity: 70%;
}


.flocation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.endcrdt{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.fline{
    width: 100%;
    display: flex;
    border: 1px solid var(--accentClr);
    margin: 1.5rem 0;
}
.endtext{
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--accentClr);
}
/*-------------------------------------------------------------*/

/*for small screen*/
@media (max-width: 1050px) {
    .SanalBolgoh {
        height: 18rem;
    }
    .medeelliinheseg h1 {
        font-size: 2.5rem;
    }
    .medeelliinheseg h2 {
        font-size: 1.2rem;
    }
    .medeelliinheseg h3 {
        font-size: 1rem;
        font-weight: 500;
    }
    .medeelliinheseg {
        width: 60%;
    }
    .zurag1 img{
        width: auto;
        height: 18rem;
    }
    .Luser{
        font-size: 0;
    }


    
    #mainContnr {
        padding-top: 0;
    }
    .prodPicSide {
        width: 40%;
        padding-top: 0;
        position: sticky;
    }
    .bigImage img {
        width: 100%;
    }
    .miniImage img {
        width: 25%;
    }
    .specSide {
        width: 60%;
    }
    .specSide {
        justify-content: center;
        align-items: center;
    }
    .advantageImage {
        width: 100%;
    }
    .advntg {
        width: 25%;
    }
    .advntg img {
        width: 100%;
    }
    .heaterName {
        padding-top: 2rem;
    }
    .cartBtn,
    .orderBtn {
        width: 18rem;
    }

    .selectionByOrder {
        width: 85%;
    }

    /* company*/
    .firstInfo {
        flex-direction: column;
    }
    .secondInfo {
        flex-direction: column-reverse;
    }
    .frstPic,
    .scndPic {
        width: 100%;
    }
    .frstPic img,
    .scndPic img {
        width: 100%;
    }
    .frstIfno h3,
    .scndIfno h3 {
        display: flex;
        font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
    .frstIfno,
    .scndIfno {
        width: 100%;
        font-size: clamp(1rem, 1.5vw, 1.3rem);
    }
    #HamtrahHuselt:hover {
        cursor: pointer;
        box-shadow: 0 0 0 #3e3d3d99;
    }
    #HamtrahHuselt {
        width: 22.5rem;
        height: 2.8rem;
        margin: 2rem 0 3rem 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        background: var(--darkerBG);
        /*border: 0.5px solid var(--shadowClr);*/
        box-shadow: 0 0 2px #3e3d3d99;
    }
    #HamtrahHuselt img {
        width: 1.5rem;
        height: 1.5rem;
    }
    /* company end*/
    .fcontact{
        padding: 1rem;
    }
    .fsocial{
        width: 17rem;
    }
    .cardd{
        flex-direction: column;
        gap: 1.5rem;
    }
    .cardd img{
        width: 50vw;
        height: 15rem;
        margin: auto;
    }
    .cardd h2{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .cardd div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        padding: 1rem 2rem;
    }
    .cardd h2{
        margin: auto;
    }
    .cardd p{
        color: var(--fontCdark);
        font-weight: 500;
    }

}
/*for small screen*/

/*For tablet 834px*/
@media (max-width: 850px) {
    .Welcome {
        width: 40%;
    }
    .rightsd {
        width: 60%;
        padding-left: 0;
    }
    /* .navi:hover {
        background: var(--mainBGMirror);
    } */
    .navi {
        justify-content: space-between;
    }
    .lftMenu {
        display: none;
    }
    .rghtMenu {
        display: none;
    }
    .mnubtn {
        margin: 1rem;
        position: relative;
        width: 3rem;
        height: 3rem;
        background: var(--darkerBG);
        box-shadow: 0 0 8px #3e3d3d99;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    .mnubtn span {
        position: absolute;
        width: 2.2rem;
        height: 0.2rem;
        background: var(--fontCdark);
        border-radius: 0.2rem;
        transition: 0.3s;
    }
    .mnubtn span:nth-child(1) {
        transform: translateY(-13px);
    }
    .mnubtn.active span:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
    }
    .mnubtn span:nth-child(2) {
        transform: translateY(13px);
    }
    .mnubtn.active span:nth-child(2) {
        transform: translateY(0px) rotate(-45deg);
    }
    .mnubtn.active span:nth-child(3) {
        opacity: 0;
    }
    .mnubtn.active {
        box-shadow: none;
    }
    .mblMenu div:hover {
        cursor: pointer;
    }
    .mblMenu a {
        text-decoration: none;
    }
    .mblMenu {
        display: flex;
        width: 100%;
        position: fixed;
        top: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--darkerBG);
        font-size: 1.5rem;
        font-weight: 400;
        gap: 2.5rem;
        padding: 2rem;
        opacity: 0;
        backdrop-filter: blur(15px);
        padding-bottom: 4rem;
        transform: translate(0, -100%); /* Position off-screen */
        transition: transform 0.5s ease, opacity 0.5s ease, top 0.8s;
    }
    .mblMenu.hidden {
        top: -500px;
    }
    .mblMenu.show {
        /* Ensure the element is displayed */
        backdrop-filter: blur(15px);
        opacity: 1;
        transform: translate(0); /* Move into view */
    }

    .SanalBolgoh {
        height: 18rem;
    }
    .medeelliinheseg h1 {
        font-size: 2.5rem;
    }
    .medeelliinheseg h2 {
        font-size: 1.2rem;
    }
    .medeelliinheseg h3 {
        font-size: 1rem;
        font-weight: 500;
    }
    .medeelliinheseg {
        width: 70%;
    }
    

    #mainContnr {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 6rem;
        height: auto;
    }
    .prodPicSide {
        width: 95%;
        height: auto;
        position: relative;
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .bigImage img {
        width: 80%;
    }
    .specSide {
        width: 95%;
    }
    .specSide {
        justify-content: center;
        align-items: center;
    }
    .miniImage img {
        width: 15%;
    }
    .heaterinfoDiv {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .heaterName {
        display: flex;
        justify-content: center;
    }
    .zagwaruudlabel {
        flex-direction: column;
        align-items: center;
    }
    .HeaterSelection {
        flex-direction: column;
        align-items: center;
    }
    .tooshirheg {
        text-align: center;
        align-items: center;
    }
    .bntsForOrder {
        flex-direction: column;
        align-items: center;
    }

    #cartMainCont {
        flex-direction: column;
    }
    .selectedHtrs,
    .PaymentDetailsDiv {
        width: 100%;
        align-items: center;
    }
    .selectedHtrs {
        height: auto;
        justify-content: start;
    }
    .selectionByOrder img {
        width: 10rem;
    }

    /*ecological heseg*/
    
    /*login*/
    .login-wrapper {
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .info-side {
        flex-direction: column-reverse;
        padding: 3rem 3rem 3rem 2rem;
    }
    /*login*/

    /*footer*/
    .FooterCont{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .fLinks, .fcontact, .fsocial{
        padding: 2rem;
    }
    .fsocial{
        width: 80%;
    }
}

@media (max-width: 610px) {
    .zurag1 img{
        width: auto;
        height: 18rem;
    }
    .medeelliinheseg{
        width: 100%;
        overflow: hidden;
    }
    #thinnav {
        display: none;
    }
    .navi {
        top: 0;
    }
    .mblMenu {
        top: 6rem;
    }
    /*.swiper-navBtn{
        display: none;
    }*/
    .heaterName {
        font-size: 2rem;
        text-align: center;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .plant-info{
        width: 80%;
        padding-top: 2rem;
    }
    .bonzInfo{
        height: auto;
    }
    .Luser{
        flex-direction: column;
        font-size: 1.3rem;
    }
    
}
/*For mobile 480px*/
@media (max-width: 480px) {
    .SanalBolgoh{
        height: 12rem;
    }
    .medeelliinheseg{
        width: auto;
        height: 12rem;
        gap: 0.5rem;
    }
    .medeelliinheseg h1 {
    font-size: 2rem;
    }
    .medeelliinheseg h2 {
    font-size: 1rem;
    }
    .medeelliinheseg h3 {
    font-size: 0.8rem;
    font-weight: 500;
    }
    .zurag1 img{
        width: auto;
        height: 12rem;
        overflow: hidden;
    }
    .fnctbtn{
        width: auto;
        height: auto;
        padding: 0.5rem;
        font-size: 1rem;
    }


    #AdvPage{
        width: 100%;
    }

    .cardd{
        width: 100%;
        padding: 1rem;
        margin: 2rem;
        background: var(--mainBGMirror);
    }
    .cardd h3{
        display: none;
    }
    .cardd p{
        margin: 0;
    }
}
